* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(royalblue, white);
  background-color: #fff;
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100vw;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(40px);
  width: 900px;
  height: 500px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.8rem;
  overflow: hidden;
  margin: 0 5rem;
}
.col-1 {
  background: url('/src/images/dentalytis.svg') no-repeat center;
  background-size: cover;
  /* padding: 13rem; */
}
.col-1 img {
  width: 700px;
}
.col-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo{
  text-align: center;
  visibility: hidden;
}
.logo img{
  width: 10px;
  height: 10px;
  
}

.login-box .user-box {
  position: relative;
}
.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 14px;
  color: #fff;
  margin-bottom: 40px;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  background-color: transparent;
}
::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}
.login-box button {
  background-color: white;
  color: #242424;
  padding: 8px 0;
  font-weight: 500;
  border: 1px solid #fff;
  font-size: 14px;
  border-radius: 2px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
  width: 100%;
}

.forget-pass {
  display: flex;
  justify-content: flex-end;
  margin-top: -10px;
  margin-bottom: 14px;
}
.forget-pass .link {
  text-decoration: none;
}
.sign-up {
  text-align: center;
}
.sign-up .link {
  text-decoration: none;
}
.link {
  color: royalblue;
}
.link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100vw; */
  }
  .container {
    grid-template-columns: repeat(1, 1fr);
    width: 330px;
    height: 520px;
    padding: 0;
  }
  .col-1 {
    visibility: hidden;
  }
  form {
    margin-bottom: 1rem;
    margin-top: 0;
    padding-top: 0;
  }
  .logo{
    text-align: center;
    visibility: visible;
    margin-top: -160px;
  }
  .logo img{
    width: 160px;
    height: 160px;
    
  }
}
