* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(royalblue, white);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(40px);
  width: 1000px;
  height: 600px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.8rem;
  overflow: hidden;
  margin: 0 5rem;
}
.col-1 {
  background: url(/public/images/dentalytis.svg) no-repeat center;
  background-size: cover;
}
.col-1 img {
  width: 700px;
}
.col-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  text-align: center;
}
.logo img {
  width: 200px;
  /* margin-bottom: 60px; */
  border-radius: 50%;
}

.login-box .user-box {
  position: relative;
}
.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 20px;
  color: #fff;
  margin-bottom: 40px;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  background-color: transparent;
}
::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}
.login-box button {
  background-color: white;
  color: #242424;
  padding: 12px 16px;
  font-weight: 500;
  border: 1px solid #fff;
  font-size: 20px;
  border-radius: 2px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
  width: 100%;
}
.login-box button:hover {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-weight: bold;
}
.forget-pass {
  display: flex;
  justify-content: flex-end;
  margin-top: -10px;
  margin-bottom: 14px;
}
.forget-pass .link {
  text-decoration: none;
}
.sign-up {
  text-align: center;
}
.sign-up .link {
  text-decoration: none;
}
.link {
  color: royalblue;
}
.link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1000px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    grid-template-columns: repeat(1, 1fr);
    width: 330px;
    height: 550px;
  }
  .col-1 {
    visibility: hidden;
  }
  form {
    margin-bottom: 2rem;
    margin-top: 0;
  }
}
